.nav-item a div { display: none; }
.nav-item a:hover div { display: block; }

.header-img {
    width: 80px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 55vh;
}

.card {
    padding: 10px;
    width: 200px;
    height: 200px;
    align-self: center;
}

.product-picture-overview {
    width: 100px;
    align-self: center;
}

.img-product-detail {
    width: 300px;
}

.icon {
    width: 40px;
}

.product-detail {
    display: flex;
    flex-wrap: wrap;
}

.product-detail-changeAmount {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.img-cart-overview {
    width: 80px;
}

.btn {
    float: right;
    margin: 50px;
}

a {
    margin: 20px;
    align-self: center;
}

del {
    color: red;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    min-height: 100px;
    text-justify: center;
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}